.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    background-color: #f1f1f1;
    color: rgb(0, 0, 0);
    position: relative;
  }

.navbar .logo a {
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
  }
  
  .nav-links li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: #f0a500;
  }
  
  .menu-icon {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: transform 0.3s ease;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      position: absolute;
      top: 70px;
      right: 0;
      background-color: #333;
      width: 100%;
      height: calc(100vh - 70px);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      display: none;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .menu-icon {
      display: block;
    }
  }
  #book {
    pointer-events: none;  
    cursor: not-allowed;   
  }
  #edit{
    pointer-events: none;
    cursor: not-allowed;
  }
